.note {
  border: 2px solid #000;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;

  background-color: #fff;
}

.controllBtnContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.noteContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.removeIcon {
  color: red;
}
.addIcon {
  color: green;
}
