.listContainer {
  background-color: rgb(232, 231, 231);
  padding: 10px;
}
.list {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.controllBtnContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.note {
  border: 2px solid #000;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;

  background-color: #fff;
}
.noteContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}
.input {
  width: 300px;
  height: 100px;
  text-align: center;
}
.removeMeBtn {
  width: 30px;
  height: 30px;
}
.moveBtn {
  width: 100%;
  background-color: green;
}
.moveBtn:hover {
  background-color: rgb(11, 156, 11);
  transform: scale(1.02);
}
.addSublistBtn {
  color: green;
  display: flex;
  align-items: center;
}
.removeSublistBtn {
  color: red;
  display: flex;
  align-items: center;
}
.btnAssignment {
  color: #787878;
  font-size: 10px;
}
.noteContainer {
  display: flex;
  align-items: center;
}
