.list {
  background-color: rgb(232, 231, 231);
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.loading {
  background-color: rgba(255, 146, 4, 0.259);
}
.emptyListText {
  font-size: 10px;
  color: #787878;
}
