.header {
  display: flex;
  align-items: center;
  background-color: #4588d1;
  width: calc(100% - 60px);
  height: 50px;
  padding: 0 30px;
}
.text {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  padding-left: 70px;
  font-size: 24px;
  font-weight: 700;
}
.btnGroup {
  display: flex;
  gap: 10px;
  padding: 0px 5px;
}
.active,
.buttons {
  border: 2px solid #c1c1c1;
  padding: 5px 10px;
  border-radius: 30px;
}
.active,
.active:hover {
  border: 2px solid #000000;
  background-color: #000000;
  color: #ffffff;
}
