.controllerContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.moveBtnContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.arrow {
  color: black;
}
