.App {
  background-color: #5acf1a;
  padding: 40px;
}
.App-loading {
  background-color: #e6a122;
  padding: 40px;
}
.content {
  box-shadow: 1px 1px 5px #000;
  background-color: #ffffff;
  border-radius: 40px;
  padding: 40px;
}
